<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Project</title>
</head>
<body>
    <table aria-describedby="mydesc" width="600" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td bgcolor="#fff">
                <table aria-describedby="mydesc" width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" width="450"><img src="{0}/images/app_logo.png?1"   width="200" /></td>
                    </tr>
                    <tr>
                        <td align="center" width="450" height="40"></td>
                    </tr>
                </table>
            </td>
        </tr> 
    </table>
</body>
</html>
