// color variables

$theme-bgcolor: #f4f4f7;

$theme-bluecolor: #001a43 !default;
$theme-blackcolor1: #000 !default;
$theme-darkblue: #002c69;
$theme-darkblue1: #003d9d;


$theme-bordercolor: #7c7c7c;
$theme-redcolor: #d93132;
$theme-white: #ffffff;
$theme-skyblue: #8ebaff;
$theme-skyblue1: #0566ff;
$theme-skyblue2: #0063ff;
$theme-skyblue3: #a8caff;

$theme-tablecolor: #070606;

$theme-dark-redcolor: #00bfb5;
$theme-menured: #9a170d;
$theme-menublue: #00d8ff;
$theme-menugreen: #00ffc4;

$theme-peechcolor: #ffd3d0;
$theme-peechcolor1: #ff786e;

$theme-greencolor: #00b28f;
$theme-darkgreen: #1bb940;

$theme-dangercolor: #89181a;

$theme-navcolor: #b5d2ff;
$theme-menubg: #00218e;
$theme-footerbg: #050505;
$theme-zblack: #000000;
$theme-orange: #fc7c00;
$theme-yellow: #ff7f00;

$theme-selectcolor: #00419a;

$theme-datagridborder: #f4f4f4;
$theme-progressgrey: #babbc4;

//---------------//

$theme-textcolor: #252525;
$theme-black: #000 !default;
$theme-purpledark: #512da8 !default;

$theme-lightgrey: #868e96;
$theme-textcolor: #252525;
$theme-formborder: #e4e6ef;
$gray-600: #6c757d !default;

//Custom Card Variables
$card-columns-margin: 1.875rem;
$crm-card-padding: 30px;
$crm-card-shadow: 0 2px 5px 0 rgba($theme-black, 0.26) !default;
$crm-card-shadow-new: 0px 0px 8px 0 rgba($theme-black, 0.1) !default;

$crm-card-margin: $card-columns-margin !default;
$border-radius: 0.375rem;
$border-radius10: 0.714rem;

$theme-colorpurple: #aa66cc;

$theme-coloryellow: #ff9f43;
$theme-colorgreen: #28c76f;
$theme-colorlightred: #ea5758;
